/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
}

/* Estilos del encabezado */
header {
  color: antiquewhite;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: antiquewhite;
  text-decoration: none;
}

.navbar-nav{
  padding-left: 250px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 20px;
}


/* Estilos del contenido principal */
main {
  padding: 10px;;
  color: rgb(248, 224, 194)
}

main p, div, h1, h2, h3, h4 {
  text-align: center;
}

main ol li{
  list-style: none;
  text-align: center;
}

.foto img {
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  border-radius: 6px;
  filter: opacity(0.3);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.galeria a {
  display: block;
}

.galeria img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0px 10px 25px black;
}

.linea img{
display: inline-block;
transition: transform 0.3s ease;
border-radius: 6px;
box-shadow:0px 15px 25px black;
}

.linea:hover {
  transform: scale(1.2)
}

.realismo img{
  display: inline-block;
transition: transform 0.3s ease;
border-radius: 6px;
box-shadow:0px 15px 25px black;
}
.realismo:hover{
  transform: scale(1.2)
}
.micro img{
  display: inline-block;
transition: transform 0.3s ease;
border-radius: 6px;
box-shadow:0px 15px 25px black;
}
.micro:hover{
  transform: scale(1.2)
}
.flores img{
  display: inline-block;
  transition: transform 0.3s ease;
  border-radius: 6px;
  box-shadow:0px 15px 25px black;
}
.flores:hover{
  transform: scale(1.2)
}

.volver {
  justify-content: space-around;
  margin-top: 30px;
}

.volver a {
  margin-left: 15px;
}

.logo img{
  justify-content: center;
  width: 45px;
  height: auto;
}

.Nombre img{
  width: 300px;
  height: auto;
  justify-content: center;
  
}

/*estilos de fondo*/

.gradient {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(87, 84, 84));
}

/* Estilos del pie de página */
footer {
  background: transparent;
  color: antiquewhite;
  padding: 10px;
  text-align: center;
}

/* Estilos específicos de enlaces */
a {
  color: rgb(240, 197, 142);
}

a:hover {
  text-decoration: underline;
}

/* estilo de medios mobile */
@media (max-width: 446px){
  
  .volver {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .volver a {
    margin: 10px 0;
  }

  .logo img{
    width: 25px;
    height: auto;
  }

  .foto img{
    width: 100%;
    height: auto;
  }


  .galeria{
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: center;
  }

  footer{
    font-size: 14px;
    text-align: center;
  }
  }
  
  @media (min-width: 355px){

    .navbar-collapse{
      display: flex;
      flex-direction:column;

    }
  
    .navbar-toggler{
      display: flex;
      flex-direction: column;  
    }
    .navbar a{
      margin-right: 10px;
      display: flex;
      flex-direction: column;
    }
  }

/* estilo de medios tablet */
  @media (min-width: 1024px) {

  .volver {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
  }

  .volver a {
    margin-left: 15px;
  }

  .foto img{
    width: 100%;
    height: auto;
  }


}

