/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
}

/* Estilos del encabezado */
header {
  color: antiquewhite;
  padding: 20px;
  text-align: center;
}

nav h1 {
  font-size: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: antiquewhite;
  text-decoration: none;
}


/* Estilos del contenido principal */
main {
  padding: 20px;;
  color: rgb(236, 209, 174);
}

main p,
div,
h1,
h3,
h2 {
  text-align: center;
}

main ol li{
  list-style: none;
  text-align: center;
}

.foto img {
  display: flex;
  width: 70%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 60px;
  border-radius: 10px;
  box-shadow: 0px 15px 25px rgb(26, 25, 25);
  filter: opacity(0.7);

}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.galeria a {
  display: block;
}

.galeria img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0px 10px 25px black;
}

.linea img{
display: inline-block;
transition: transform 0.3s ease;
border-radius: 6px;
box-shadow:0px 15px 25px black;
}

.linea:hover {
  transform: scale(1.2)
}

.realismo img{
  display: inline-block;
transition: transform 0.3s ease;
border-radius: 6px;
box-shadow:0px 15px 25px black;
}
.realismo:hover{
  transform: scale(1.2)
}
.micro img{
  display: inline-block;
transition: transform 0.3s ease;
border-radius: 6px;
box-shadow:0px 15px 25px black;
}
.micro:hover{
  transform: scale(1.2)
}
.flores img{
  display: inline-block;
transition: transform 0.3s ease;
border-radius: 6px;
box-shadow:0px 15px 25px black;
}
.flores:hover{
  transform: scale(1.2)
}

.volver {
  justify-content: space-around;
  margin-top: 30px;
}

.volver a {
  margin-left: 15px;
}

.logo img{
  justify-content: center;
  width: 30px;
  height: auto;
  box-shadow: 0px 15px 28px rgb(22, 22, 22);
}

/*estilos de fondo*/

.gradient {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(59, 57, 57));
}

/* Estilos del pie de página */
footer {
  background: transparent;
  color: antiquewhite;
  padding: 10px;
  text-align: center;
}

/* Estilos específicos de enlaces */
a {
  color: aliceblue;
}

a:hover {
  text-decoration: underline;
}

/* estilo de medios mobile */
@media (max-width: 480px) {
  nav h1 {
    font-size: 32px;
  }

  .volver {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .volver a {
    margin: 10px 0;
  }

  .logo img{
    width: 10px;
  }
}

/* estilo de medios desktop */
@media (min-width: 1024px) {
  nav h1 {
    font-size: 48px;
  }

  .volver {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
  }

  .volver a {
    margin-left: 15px;
  }
}

