//variables

$color-primario: antiquewhite;
$color-secundario: rgb(245, 242, 242);
$color-enlace: rgb(245, 233, 218);
$color-fondo: linear-gradient(rgb(54, 53, 53), rgb(0, 0, 0));
$tamaño-logo: 45px;
$borde-redondeado: 6px;
$efecto-transicion:0.3 ease;
$box-shadow: 0px 15px 25px black;
$font-family: 'cinzel', serif;
